<footer class=" sticky bottom-0 w-full lg:hidden block    z-10 ">
    <div class=" item-center  justify-around   rounded-lg z-20  bg-green-900 bg-opacity-50 backdrop-blur-lg  drop-shadow-lg py-3 lg:px-20 px-5  flex lg:space-x-10 space-x-5">
        <div class="">
            <fa-icon class=" pl-2 text-xl text-green-700" [icon]="faHome"></fa-icon>
            <h1 class="text-white font-bold">Home</h1>
        </div>
        <div>
            <fa-icon class="pl-6 text-xl text-green-700" [icon]="faBook"></fa-icon>
            <h1 class="text-white font-bold">Elections</h1>
        </div>
        <div>
            <fa-icon class=" pl-2 text-xl text-green-700" [icon]="faExclamationCircle"></fa-icon>
            <h1 class="text-white font-bold">Info</h1>
        </div>
        <div>
            <fa-icon class="pl-3 text-xl text-green-700" [icon]="faCreditCard"></fa-icon>
            <h1 class="text-white font-bold">Picing</h1>
        </div>
        <div class="pl-2">
            <fa-icon class=" text-xl text-green-700" [icon]="faHandshakeAngle"></fa-icon>
            <h1 class="text-white font-bold">Help</h1>
        </div>
        
        
       
        
       
    
        </div>    
</footer>