<div class="bg-black z-10">
    
    <header class=" lg:space-x-96 justify-between  inset-x-0 border-2 border-green-400 border-b-white z-20  fixed  top-0 pl-5 pr-5 bg-[#174E44]  flex flex-row  py-2    text-white font-bold  ">
        <div>
            <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
                <img class="item-center   "src="/assets/images/Dhub_green-noback-resized.png" alt="image" width="70px "  >
            </a>
        </div>
    </header>
  
   
    
    
    
    <div class="pb-80 grid justify-items-center     pt-10  relative z-10  pl-5 pr-5  ">
        <div class="pb-10 z-40 pt-10 text-white grid justify-items-center space-y-3">
            <h1 class="lg:text-5xl text-2xl">Start A New...</h1>
            <h1 class="text-md">Get Unlimited Tests Up TO 5 Voters</h1>

            <div class="pt-40 justify-items-center grid grid-rows-4 divide-y divide-[#36BCA3] ">
                

                <div class="pt-2 pb-2">
                    <div class="  px-5 py-5 lg:rounded-full rounded-2xl flex flex-row items-center lg:space-x-80 space-x-40  bg-[#0F322C]">
                        <h1 class="lg:pr-80">Name</h1>
                        <h1>Description</h1>
    
                    </div>
                </div>
                

                <div class="pt-2 pb-2">
                    <div class="divide-x divide-blue-200 max-w-screen-lg px-5 py-5 lg:rounded-full rounded-2xl flex flex-row items-center lg:space-x-80 space-x-12 bg-[#0F322C]">
                        <h1>Election</h1>
                        <h1>One ballot with multiple positions and questions. Voters 
                            submit the ballot when the vote is open, and the vote is 
                            typically scheduled for a 4 hour to 1 week duration.</h1>
    
                    </div>
                </div>
                
                <div class="pt-2 pb-2">
                    <div class="divide-x divide-blue-200 max-w-screen-lg px-5 py-5 lg:rounded-full rounded-2xl flex flex-row items-center lg:space-x-80 space-x-12 bg-[#0F322C]">
                        <h1>Meeting Vote</h1>
                        <h1>One vote within a series of votes. Each vote is separately
                            voted on and tallied. Votes are opened by the
                            administrator and end after 2 to 10 minutes.</h1>
    
                    </div>
                </div>
                <div class="pt-2 pb-2">
                    <div class="divide-x divide-blue-200 max-w-screen-lg px-5 py-5 lg:rounded-full rounded-2xl flex flex-row items-center lg:space-x-80 space-x-12 bg-[#0F322C]">
                        <h1>Announcement</h1>
                        <h1 class="">A notice to save the date for a future election or meeting.
                            Optionally register votes or call for candidates or 
                           nominations.</h1>
    
                    </div>
                </div>
                
                <div class="pt-2 pb-2">
                    <div class="divide-x divide-blue-200 max-w-screen-lg px-5 py-5 lg:rounded-full rounded-2xl flex flex-row items-center lg:space-x-80 space-x-12 bg-[#0F322C]">
                        <h1>Vote Box</h1>
                        <h1 class="">Create a Box and add Meeting Votes, Elections or
                            Announcements to group them together. Great for 
                           managing meetings or storing votes together.</h1>
    
                    </div>
                </div>
                

            </div>
            
    
        </div>
    </div>
    
    
    
    
    
    </div>
    
    
    <div class=" top-1 left-1/2 transform -translate-x-1/2 -translate-y-1/2 hidden lg:block  blur-2xl  w-[20%] rounded-full bottom-[10%]  absolute  bg-[#164D43]  h-[40%] "></div>

    <div class=' lg:hidden block w-full absolute top-[30%] bg-[#F7AB0A]/10 left-0 h-[500px] -skew-y-12'></div>
