<app-header></app-header>
    <div class="">
        <img class=" lg:w-[50%] lg:pt-20 pt-10 right-0 z-10 absolute "src="/assets/images/votershome.png" alt="image"  >
    </div>



<div class="min-h-screen1 flex flex-col flex-grow   pb-80 pt-10 bg-[#05110F]">
    
    <div class="min-h-screen1 flex flex-col flex-grow   pt-10  relative z-10 lg:pl-20 pl-5 space-y-5 ">
        <div>
            <h1 class="lg:pt-10  pt-60 text-white text-6xl lg:text-8xl font-bold font-serif">Trusted </h1>
            <h1 class="text-white text-6xl lg:text-8xl underline ">Easy election</h1>
            <h1 class="text-white text-6xl lg:text-7xl font-semibold">processing platform</h1>
        </div>
       
        <div class="max-w-xl">
          <div class="lg:pl-20 flex space-x-2">
            <img class="item-center w-40 lg:w-20 "src="/assets/images/Dhub_green-noback-resized.png" alt="image"   >
            <p class="hidden lg:block  lg:pt-5 pt-10 text-left text-4xl text-green-400 font-bold ">DEMOCRACY HUB 
              
            </p>
          </div>
        
           
            <p class="lg:pl-16 lg:pt-5 pt-2 text-left text-xl text-white font-bold">Welcomes you to our online voting system!</p>
            <p class=" pt-5 text-left lg:text-lg text-white"> 
                We are excited to provide you with a convenient and
                 secure way to cast your vote. Our system has been designed
                  with your privacy and security in mind, and we are committed to
                   ensuring that your vote is counted accurately and fairly.
            </p>

                <p class="pt-5 lg:text-lg text-white">
                    We encourage you to take a moment to review the voting instructions,
                     so that you can be sure that your vote is cast correctly.
                </p>
                <p  class="pt-5 lg:text-lg text-white">If you are an admin, you can use the <a class="text-orange-300 underline decoration-pink-500">login link</a> to access the admin page
                     where you can upload voter information,
                     view the results of the election and manage the voter's data.</p>
              
               
        </div>
      
       
        <div class=" pb-60 pt-10 lg:flex lg:flex-row  space-x-10 items-center justify-between mr-5 ">
            <div class="flex flex-row items-center space-x-6 justify-between">
                <div>
                  <a routerLink="/signup" routerLinkActive="active" ariaCurrentWhenActive="page">
                    <button class="font-bold rounded-lg lg:py-5 lg:px-5 py-1 px-2 bg-[#49FADA]"> Start Free Election</button>
                  </a>
                    
                </div>
               
                <div class="flex flex-row items-center lg:pl-20 ">
                    
                    <fa-icon class="  py-5 px-5 lg:text-6xl text-4xl text-green-400" [icon]="faCirclePlay"></fa-icon> 
                    <p class="text-white font-bold">Learn How Democracy Hub Works</p>
                </div>
               </div>

               
                <footer class="  pr-20 hidden lg:block    z-10 ">
                    <div class="item-center  justify-around   rounded-lg z-20  bg-black bg-opacity-60 backdrop-blur-lg  drop-shadow-lg py-7 lg:px-40 px-5  flex lg:space-x-10 space-x-5">
                        <div class="">
                            <fa-icon class=" pl-2 text-xl text-green-700" [icon]="faHome"></fa-icon>
                            <h1 class="text-white font-bold">Home</h1>
                        </div>
                        <div>
                            <fa-icon class="pl-6 text-xl text-green-700" [icon]="faBook"></fa-icon>
                            <h1 class="text-white font-bold">Elections</h1>
                        </div>
                        <div>
                            <fa-icon class=" pl-2 text-xl text-green-700" [icon]="faExclamationCircle"></fa-icon>
                            <h1 class="text-white font-bold">Info</h1>
                        </div>
                        <div>
                            <fa-icon class="pl-3 text-xl text-green-700" [icon]="faCreditCard"></fa-icon>
                            <h1 class="text-white font-bold">Picing</h1>
                        </div>
                        <div class="pl-2">
                            <fa-icon class=" text-xl text-green-700" [icon]="faHandshakeAngle"></fa-icon>
                            <h1 class="text-white font-bold">Help</h1>
                        </div>
                        
                        
                       
                        
                       
                    
                        </div>    
                </footer>
           
          
        </div> 
       
   
  
</div>


    <div class=" hidden lg:block  blur-2xl  w-[100%] rounded-full bottom-[10%] absolute top-[1%] bg-[#164D43]  h-[200%] "></div>
    <div class=' lg:hidden block w-full absolute top-[30%] bg-[#F7AB0A]/10 left-0 h-[500px] -skew-y-12'></div>
    

 
  




