/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
.footer {
    position:relative;
    bottom:0;
    }
    
    
.article {
    margin: auto 0;
}
.min-h-screen{
    min-height: 80vh;
}
.min-h-screen1{
    min-height: 160vh;
}